In [1]:
import pandas as pd
import requests

In [2]:
import csv
validation_df=pd.read_csv('validation.csv')
validation_df

,id,article,highlights
0,61df4979ac5fcc2b71be46ed6fe5a46ce7f071c3,"Sally Forrest, an actress-dancer who graced th...","Sally Forrest, an actress-dancer who graced th..."
1,21c0bd69b7e7df285c3d1b1cf56d4da925980a68,A middle-school teacher in China has inked hun...,Works include pictures of Presidential Palace ...
2,56f340189cd128194b2e7cb8c26bb900e3a848b4,A man convicted of killing the father and sist...,"Iftekhar Murtaza, 29, was convicted a year ago..."
3,00a665151b89a53e5a08a389df8334f4106494c2,Avid rugby fan Prince Harry could barely watch...,Prince Harry in attendance for England's crunc...
4,9f6fbd3c497c4d28879bebebea220884f03eb41a,A Triple M Radio producer has been inundated w...,Nick Slater's colleagues uploaded a picture to...
...,...,...,...
13363,e93f721ba4949f21f33549c4a21d55ff456af979,All shops will be allowed to offer ‘click and ...,Shops won't have to apply for planning permiss...
13364,8df19a570ad14119a7d00f3bbe864fedf8c1691d,Mo Farah has had his nationality called into q...,Mo Farah broke the European half-marathon reco...
13365,2fdd5f89aa26e91ceea9b0ef264abfcfc3e6fa2e,Wolves kept their promotion hopes alive with a...,Wolves are three points off the play-off place...
13366,530d7b18d7a715b368b0745f9dfebfe353adeda8,A Brown University graduate student has died ...,"Hyoun Ju Sohn, a 25-year-old doctoral student,..."
13367,42d6f6e10a45ff469fbe3ef7345838aa45dcdd61,As thousands of young Australians look to buy ...,60% of estate agents believe owning a home is ...

In [3]:
train_df=pd.read_csv('train.csv')
train_df

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,By . Associated Press . PUBLISHED: . 14:11 EST...,"Bishop John Folda, of North Dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(CNN) -- Ralph Mata was an internal affairs li...,Criminal complaint: Cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,A drunk driver who killed a young woman in a h...,"Craig Eccleston-Todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(CNN) -- With a breezy sweep of his pen Presid...,Nina dos Santos says Europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,Fleetwood are the only team still to have a 10...,Fleetwood top of League One after 2-0 win at S...
...,...,...,...
287108,fffdfb56fdf1a12d364562cc2b9b1d4de7481dee,By . James Rush . Former first daughter Chelse...,Chelsea Clinton said question of running for o...
287109,fffeecb8690b85de8c3faed80adbc7a978f9ae2a,An apologetic Vanilla Ice has given his first ...,"Vanilla Ice, 47 - real name Robert Van Winkle ..."
287110,ffff5231e4c71544bc6c97015cdb16c60e42b3f4,America's most lethal sniper claimed he wished...,America's most lethal sniper made comment in i...
287111,ffff924b14a8d82058b6c1c5368ff1113c1632af,"By . Sara Malm . PUBLISHED: . 12:19 EST, 8 Mar...",A swarm of more than one million has crossed b...
287112,ffffd563a96104f5cf4493cfa701a65f31b06abf,(CNN)Former Florida Gov. Jeb Bush has decided ...,Other 2016 hopefuls maintain that Bush's annou...

In [4]:
test_df= pd.read_csv('test.csv')
test_df

,id,article,highlights
0,92c514c913c0bdfe25341af9fd72b29db544099b,Ever noticed how plane seats appear to be gett...,Experts question if packed out planes are put...
1,2003841c7dc0e7c5b1a248f9cd536d727f27a45a,A drunk teenage boy had to be rescued by secur...,Drunk teenage boy climbed into lion enclosure ...
2,91b7d2311527f5c2b63a65ca98d21d9c92485149,Dougie Freedman is on the verge of agreeing a ...,Nottingham Forest are close to extending Dougi...
3,caabf9cbdf96eb1410295a673e953d304391bfbb,Liverpool target Neto is also wanted by PSG an...,Fiorentina goalkeeper Neto has been linked wit...
4,3da746a7d9afcaa659088c8366ef6347fe6b53ea,Bruce Jenner will break his silence in a two-h...,"Tell-all interview with the reality TV star, 6..."
...,...,...,...
11485,ed8674cc15b29a87d8df8de1efee353d71122272,Our young Earth may have collided with a body ...,Oxford scientists say a Mercury-like body stru...
11486,2f58d1a99e9c47914e4b1c31613e3a041cd9011e,A man facing trial for helping his former love...,Man accused of helping former lover kill woman...
11487,411f6d57825161c3a037b4742baccd6cd227c0c3,A dozen or more metal implements are arranged ...,Marianne Power tried the tuning fork facial at...
11488,b5683ef8342056b17b068e0d59bdbe87e3fe44ea,Brook Lopez dominated twin brother Robin with ...,Brooklyn Nets beat the Portland Trail Blazers ...
11489,a6a5491edb0c96c4391b6a8c4504416b3572b3a1,A Chinese hospital is being painstakingly move...,Chinese hospital marked for demolition because...

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287113 entries, 0 to 287112
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          287113 non-null  object
 1   article     287113 non-null  object
 2   highlights  287113 non-null  object
dtypes: object(3)
memory usage: 6.6+ MB

In [6]:
train_df.isna().sum()

id            0
article       0
highlights    0
dtype: int64

## Data preprocessing

In [7]:
#converting test dataset  into lowercase words 
test_df['article']=test_df['article'].str.lower()
test_df['highlights']=test_df['highlights'].str.lower()

In [8]:
#converting train dataset  into lowercase words 
train_df['article']=train_df['article'].str.lower()
train_df['highlights']=train_df['highlights'].str.lower()

In [9]:
#converting validation dataset  into lowercase words 
validation_df['article']=validation_df['article'].str.lower()
validation_df['highlights']=validation_df['highlights'].str.lower()

In [10]:
train_df.head()

,id,article,highlights
0,0001d1afc246a7964130f43ae940af6bc6c57f01,by . associated press . published: . 14:11 est...,"bishop john folda, of north dakota, is taking ..."
1,0002095e55fcbd3a2f366d9bf92a95433dc305ef,(cnn) -- ralph mata was an internal affairs li...,criminal complaint: cop used his role to help ...
2,00027e965c8264c35cc1bc55556db388da82b07f,a drunk driver who killed a young woman in a h...,"craig eccleston-todd, 27, had drunk at least t..."
3,0002c17436637c4fe1837c935c04de47adb18e9a,(cnn) -- with a breezy sweep of his pen presid...,nina dos santos says europe must be ready to a...
4,0003ad6ef0c37534f80b55b4235108024b407f0b,fleetwood are the only team still to have a 10...,fleetwood top of league one after 2-0 win at s...

In [11]:
train_df['highlights'][0]

'bishop john folda, of north dakota, is taking time off after being diagnosed .\nhe contracted the infection through contaminated food in italy .\nchurch members in fargo, grand forks and jamestown could have been exposed .'

In [12]:
train_df['article'][1]

'(cnn) -- ralph mata was an internal affairs lieutenant for the miami-dade police department, working in the division that investigates allegations of wrongdoing by cops. outside the office, authorities allege that the 45-year-old longtime officer worked with a drug trafficking organization to help plan a murder plot and get guns. a criminal complaint unsealed in u.s. district court in new jersey tuesday accuses mata, also known as "the milk man," of using his role as a police officer to help the drug trafficking organization in exchange for money and gifts, including a rolex watch. in one instance, the complaint alleges, mata arranged to pay two assassins to kill rival drug dealers. the killers would pose as cops, pulling over their targets before shooting them, according to the complaint. "ultimately, the (organization) decided not to move forward with the murder plot, but mata still received a payment for setting up the meetings," federal prosecutors said in a statement. the complaint also alleges that mata used his police badge to purchase weapons for drug traffickers. mata, according to the complaint, then used contacts at the airport to transport the weapons in his carry-on luggage on trips from miami to the dominican republic. court documents released by investigators do not specify the name of the drug trafficking organization with which mata allegedly conspired but says the organization has been importing narcotics from places such as ecuador and the dominican republic by hiding them "inside shipping containers containing pallets of produce, including bananas." the organization "has been distributing narcotics in new jersey and elsewhere," the complaint says. authorities arrested mata on tuesday in miami gardens, florida. it was not immediately clear whether mata has an attorney, and police officials could not be immediately reached for comment. mata has worked for the miami-dade police department since 1992, including directing investigations in miami gardens and working as a lieutenant in the k-9 unit at miami international airport, according to the complaint. since march 2010, he had been working in the internal affairs division. mata faces charges of aiding and abetting a conspiracy to distribute cocaine, conspiring to distribute cocaine and engaging in monetary transactions in property derived from specified unlawful activity. he is scheduled to appear in federal court in florida on wednesday. if convicted, mata could face life in prison. cnn\'s suzanne presto contributed to this report.'

In [13]:
#Removing unwanted tags if amy present
import re
train_df['highlights'] = train_df['highlights'].str.replace(r'<[^<>]*>', '', regex=True)
train_df['article'] = train_df['article'].str.replace(r'<[^<>]*>', '', regex=True)
#test_df
test_df['highlights']=test_df['highlights'].str.replace(r'<[^<>]*>', '', regex=True)
test_df['article']=test_df['article'].str.replace(r'<[^<>]*>', '', regex=True)
#validation_df
validation_df['highlights']=validation_df['highlights'].str.replace(r'<[^<>]*>', '', regex=True)
validation_df['article']=validation_df['article'].str.replace(r'<[^<>]*>', '', regex=True)

In [14]:
#Removing punctuation 
import string
exclude=string.punctuation
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [15]:
def remove_punc(sentence):
    return sentence.translate(str.maketrans('','',exclude))

In [16]:
#train_df
train_df['highlights']=train_df['highlights'].apply(remove_punc)
train_df['article']=train_df['article'].apply(remove_punc)
#test_df
test_df['highlights']=test_df['highlights'].apply(remove_punc)
test_df['article']=test_df['article'].apply(remove_punc)
#validation_df                                              
validation_df['highlights']=validation_df['highlights'].apply(remove_punc)
validation_df['article']=validation_df['article'].apply(remove_punc)

In [17]:
train_df['highlights'][0]

'bishop john folda of north dakota is taking time off after being diagnosed \nhe contracted the infection through contaminated food in italy \nchurch members in fargo grand forks and jamestown could have been exposed '

In [18]:
#Removing stop wprds
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [19]:
def remove_stopwords(text):
    new_text=[]
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x=new_text[:]
    new_text.clear()
    return " ".join(x)

In [20]:
# #REmoving stopwords
# #train_df
# train_df['highlights']=train_df['highlights'].apply(remove_stopwords)
# train_df['article']=train_df['article'].apply(remove_stopwords)
# #test_df
# test_df['highlights']=test_df['highlights'].apply(remove_stopwords)
# test_df['article']=test_df['article'].apply(remove_stopwords)
# #validation_df                                              
# validation_df['highlights']=validation_df['highlights'].apply(remove_stopwords)
# validation_df['article']=validation_df['article'].apply(remove_stopwords)

In [ ]:
train_df['highlights']=train_df['highlights'].apply(remove_stopwords)

In [22]:
# test_df['highlights'].apply(remove_stopwords)

In [23]:
remove_stopwords("'bishop john folda of north dakota is taking time off after being diagnosed \nhe contracted the infection through contaminated food in italy \nchurch members in fargo grand forks and jamestown could have been exposed '")

"'bishop john folda  north dakota  taking time    diagnosed  contracted  infection  contaminated food  italy church members  fargo grand forks  jamestown could   exposed '"